<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2018 Uni-Report </p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	
</body>

</html>
