<% include ../partials/head %>
<% include ../partials/header_home %>
<!-- MAIN -->
<div class="main">
	
  <!-- MAIN CONTENT -->
			<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
              <h1 class="panel-title">
                <center>
                  <p><b><font size="10">............................................. </b></font></p>
                  <b><font size="10">WELCOME </font></b>
                  <p><b><font size="10">Start Your College Search ! </b></font></p>
                  <p><b><font size="10">............................................. </b></font></p>

                  <!-- Search Bar -->
                  <style></style>


                  <div class="container-fluid">
                    <form class="navbar-form nav-search">

                      <div class="input-group">
                        <input type="hidden" name="search_param" value="name" id="search_param">
	                      <input type="text" class="form-control" name="q" placeholder="Search.." id="search_key" value="">
	                      <span class="input-group-btn">
                          <button class="btn btn-info" type="submit">  Search  </button>
	                      </span>
                      </div>

                    </form>
                  </div>

                  <!--End Serch Bar -->
                </center>
              </h1>

							<div class="panel-body"></div>
              <p style="text-align: center;">
                <img src="<%= imageSchool %>" width="450" hight="450">
                <img src="<%= imageSchool2 %>" width="450" hight="450"></p>
					</div>

		<!-- END MAIN CONTENT -->
			</div>

		<!-- END MAIN -->


    <script>
        //header JS
        $(document).ready(function(){
          console.log("ready to go");

          const bundle = new Bundle();
          //set up events
          bundle.searchHelper();

        });

    </script>

		<% include ../partials/footer %>
