<% include ../partials/head %>
<!-- MAIN -->
		<div class="main">
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">You have successfully logged out of Uni-Report</h1>
						</div>
						
					</div>
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Log back in</h1>
							<a href="/auth/login"><button class="btn btn-large btn-primary">log in</button></a>


						</div>
					
					</div>
						
					</div>
				</div>
			<!-- END MAIN CONTENT -->
			</div>

		<!-- END MAIN -->
		</div>
				<!-- MAIN CONTENT -->
	