<% include ../partials/head %>
<% include ../partials/header %>
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h1 class="panel-title">Welcome <%= name %></h1>
							<img src="<%= imageUrl %>">
						</div>
						
					</div>
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h1 class="panel-title">Universities you liked</h1>
						</div>
						<div class="container">
							<p> </p>
						</div>
						
					</div>
						
					</div>
				</div>
			<!-- END MAIN CONTENT -->
			</div>

		<!-- END MAIN -->
		</div>
		<script>

		</script>

		<% include ../partials/footer %>