<% name = userName; %>

<% include ../partials/head %>
<% include ../partials/header %>
<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h1 class="panel-title" style="text-transform:capitalize;font-size: 36px;"><%= uniName %></h1>
							<div id="like-uni"> </div>
						</div>
						<div class="panel-body">
							<img src="<%= staticURL %>">
						</div>
					</div>
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-4">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">University Campus Properties</h3>
									
								</div>
								
								<div class="panel-footer">
									<div id="rmp" class="panel-body">
							
						</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						<div class="col-md-4">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Standardized Testing</h3>
									
								</div>
								
								<div class="panel-footer">
									<div id="standTestComp" class="panel-body">
							
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						<div class="col-md-4">
							<!-- MULTI CHARTS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Projected Earnings</h3>
									
								</div>
								<div class="panel-body" id="earningHelper">
									
								</div>
							</div>
							<!-- END MULTI CHARTS -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<!-- TODO LIST -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Location</h3>
									<div class="right">
										
									</div>
								</div>
								<div class="panel-body" id="locationComp">
									
								</div>
							</div>
							<!-- END TODO LIST -->
						</div>
						<div class="col-md-5">
							<!-- TIMELINE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"> Annual expected Males and Females </h3>
									
								</div>
								<div class="panel-body" id="genderComp">
									
								</div>
							</div>
							<!-- END TIMELINE -->
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<!-- TASKS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Tuition Estimate Calculator</h3>
								</div>
								<div class="panel-body" id="calcComp">
								</div>
							</div>
							<!-- END TASKS -->
						</div>
						<div class="col-md-6">
							<!-- VISIT CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">University Information</h3>
								</div>
								<div class="panel-body" id="informationComp">
								</div>
							</div>
							<!-- END VISIT CHART -->
						</div>
						
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->

		<script>
				$(document).ready(function(){
					console.log("ready to go");
					const bundle = new Bundle();
					const schoolName = "<%= uniNameApiString %>";
					bundle.rmpHelper(schoolName);
					bundle.likeUniHelper(schoolName);
					bundle.satActHelper(schoolName);
					bundle.earningHelper(schoolName);
					bundle.locationHelper(schoolName);
					bundle.genderHelper(schoolName);
					bundle.informationHelper(schoolName);
					bundle.priceCalcHelper(schoolName);
				});

		</script>

		<% include ../partials/footer %>